section{
    top: 0px;
    left: 0px;
    width: 100%;
    /* height: 990px; */
    background-color: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: flex-start;
}

article{
    top: 0px;
    left: 0px;
    width: 50%;
    height: 768px;
    background-color: #F5F5F5;
    opacity: 1;
}

#photoList{
    display: flex;
    flex-direction: row;
}




aside{
    width: 50%;
    background-color: #FFFFFF;
    opacity: 1;
}

#code{
    display: flex;
    flex-direction: row;
}

#code figure{
    display: flex;
    flex-direction: row;
}

ul{
    display: flex;
    flex-direction: row;
}

button figure{
    display: flex;
    flex-direction: row;
}




form{
    border: 2px solid #F5F5F5;
    border-radius: 10px;
    opacity: 1;
}