<section>
    <article>
        <div id="photoList">
            <img alt="Tenis1">
            <img alt="Tenis2">
            <img alt="Tenis3">
            <img alt="Tenis4">
            <img alt="Tenis5">
            <img alt="Tenis6">
        </div>

        <div id="carrousel">
            <button><img alt="Back"></button>
            <img alt="imagem principal">
            <button><img alt="Next"></button>
        </div>

        <button>VÍDEO DE DEMONSTRAÇÃO<img alt="seta direita"></button>
        
    </article>
    
    <aside>
        <h5>
            Calçados/ Masculino / Esportes / Casual  
        </h5>

        <h2>
            CASUAL
        </h2>

        <h1>
            Tênis Nike Air Max 2090 Masculino
        </h1>

        <div id="code">
            <figure>
                <img alt="lapiz">
                <figcaption>
                    55148
                </figcaption>
            </figure>
            <figure>
                <img alt="etiqueta">
                <figcaption>
                    AP0900
                </figcaption>
            </figure>
            <img alt="estrelas">
        </div>

        <p>
            Traga o passado para o futuro com o Nike Air Max 2090. Inspirado no icônico Air Max 90, o 2090 conta com o amortecimento Nike Air debaixo do pé, que proporciona conforto inigualável, enquanto a tela transparente na parte de cima se mistura com as características atemporais do OG para um look moderno e ousado.
        </p>

        <h3>
            TAMANHO
        </h3>

        <ul>
            <li>37</li>
            <li>38</li>
            <li>39</li>
            <li>40</li>
            <li>41</li>
            <li>42</li>
            <li>43</li>
            <li>44</li>
            <li>45</li>
        </ul>

        <button>
            <figure>
                <img alt="carrinho">
                <figcaption>
                    ADICIONAR AO CARRINHO
                </figcaption>
            </figure>
        </button>
        <button>
            <figure>
                <img alt="coração">
                <figcaption>
                    + LISTA DE DESEJOS
                </figcaption>
            </figure>
        </button>

        <h3>
            CALCULAR FRETE E ENTREGA
        </h3>
        <form>
            <p>Calcule o frete e o prazo de entrega estimados para sua região. Informe seu CEP:</p>
    
            <input type="text" name="CEP" placeholder="CEP" required>
            <button type="submit">CALCULAR</button>
    
            <p>Não sei meu CEP</p>
        </form>
        
    </aside>


</section>